body{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   text-align: center;
   color: #333;
   margin: 0;
   padding: 0;
}
#container{
   width: 70%;
   padding: 0;
   text-align: left;
   border: solid 1px #DDD;
   margin: 0 auto;
}
#container h1{
   font-size: 20px;
}
#header{
   background: #33a;
   box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
   color: white;
   font-weight: bold;
   margin: 0;
   padding: 0.5em;
}
#header #tagline{
   padding: 0 0 0 1em;
   font-weight: normal;
   font-size: 0.8em;
}
#post{
   padding: 1em;
}